<div class="footer">
  <footer>
      <div class="container text-center">
          <div class="social-media-list">
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github medium footer-icon"></i>
            </a>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter medium footer-icon"></i>
            </a>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="fa fa-linkedin medium footer-icon"></i>
            </a>
            <a href="https://instagram.com/{{ site.instagram_username }}">
              <i class="fa fa-instagram medium footer-icon" aria-hidden="true"></i>
            </a>
          </div >
        <h5 class="emphasis">Copyright © 2016, Website and photography by Hanna Taylor</h5>
      </div>


  </footer>
</div>
