.header-image {
  width: 100%;
}

.cap {
  top: 0;
  margin-top: 10em;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 70px; /* '.push' must be the same height as 'footer' */
}

footer {
  color:black;
  margin-top: 5em;
}

.footer-icon {
  color: black;
}
.clear-nav {
  background: 0;
  background-color: transparent !important;
  border: none !important;
  position: absolute !important;
}

.carousel-margin {
  margin-top: -1.5em;
}

.card-image {
  -webkit-transition: .2s all;
}
.card-image:hover {
   -webkit-filter: brightness(50%);
}

.search-button {
  border-radius: 0;
  border: 2px solid black;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: 80%;
}

.search-button:hover {
  background-color: black;
  border: 2px solid black;
}

.explore-button {
  border-radius: 0;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 120%;
  margin-top: 15px;
}

.explore-button:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
}

.booking {
  border: 2px solid black;
  width: 420px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Font Customization */
.nav-text {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: white !important;
}

.brand {
  font-size: 1.5em;
}

.emphasis {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.carousel-title {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 8em;
  text-shadow: none;
}

.carousel-sub {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  text-shadow: none;
}

.container-margin {
  margin-top: 3em;
}
